[
  "claim",
  "diagram",
  "analyst",
  "borrow",
  "friend",
  "helmet",
  "mushroom",
  "answer",
  "energy",
  "husband",
  "lava",
  "much",
  "garlic",
  "obey",
  "chair",
  "client",
  "good",
  "bachelor",
  "where",
  "tiger",
  "tattoo",
  "luxury",
  "math",
  "ripple"
]
